{% extends "base.html" %}
{%load static%}
{% block body  %}


<section class="wrapper bg-soft-primary angled lower-start ">
    <div class="container py-13 py-md-17  text-center">
      <div class="row">
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <div class="post-header">
            <div class="post-category text-line">
              <a href="#" class="hover" rel="category">Vision Mission</a>
            </div>
            <!-- /.post-category -->
            <h1 class="display-1 mb-3">SkilTek
              <span class="rotator-fade text-primary">Vision, Mission</span>
            </h1>
          </div>
          <!-- /.post-header -->
        </div>
        <!-- /column -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>
  


<!-- /Hakkımızda -->
<!-- /section -->
<section id="hakkimizda" class="wrapper bg-light angled upper-end lower-end">
    <div class="container py-14 py-md-16">
      <div class="row gx-lg-8 gx-xl-12 gy-10 mb-14 mb-md-17 align-items-center">
        <div class="col-lg-6 position-relative order-lg-2">
          <div class="shape bg-dot primary rellax w-16 h-20" data-rellax-speed="1" style="top: 3rem; left: 5.5rem"></div>
          <div class="overlap-grid overlap-grid-2">
            <div class="item">
              <figure class="rounded shadow"><img src="{% static './assets/img/photos/about2.jpg' %}" srcset="{% static './assets/img/photos/about2@2x.jpg' %}" alt=""></figure>
            </div>
            <div class="item">
              <figure class="rounded shadow"><img src="{% static './assets/img/photos/about3.jpg' %}" srcset="{% static './assets/img/photos/about3@2x.jpg' %}" alt=""></figure>
            </div>
          </div>
        </div>
        <!--/column -->
        <div class="col-lg-6">
          <img src="{% static './assets/img/icons/lineal/megaphone.svg' %}" class="svg-inject icon-svg icon-svg-md mb-4" alt="" />
          <h2 class="display-4 mb-3">Who Are We?</h2>
          <p class="lead fs-lg">We are a digital and branding company that believes in the power of creative strategy and along with great design.</p>
          <p class="mb-6">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
          <div class="row gy-3 gx-xl-8">
            <div class="col-xl-6">
              <ul class="icon-list bullet-bg bullet-soft-primary mb-0">
                <li><span><i class="uil uil-check"></i></span><span>Aenean eu leo quam ornare curabitur blandit tempus.</span></li>
                <li class="mt-3"><span><i class="uil uil-check"></i></span><span>Nullam quis risus eget urna mollis ornare donec elit.</span></li>
              </ul>
            </div>
            <!--/column -->
            <div class="col-xl-6">
              <ul class="icon-list bullet-bg bullet-soft-primary mb-0">
                <li><span><i class="uil uil-check"></i></span><span>Etiam porta sem malesuada magna mollis euismod.</span></li>
                <li class="mt-3"><span><i class="uil uil-check"></i></span><span>Fermentum massa vivamus faucibus amet euismod.</span></li>
              </ul>
            </div>
            <!--/column -->
          </div>
          <!--/.row -->
        </div>
        <!--/column -->
      </div>
      <!--/.row -->
      <div class="row mb-5">
        <div class="col-md-10 col-xl-8 col-xxl-7 mx-auto text-center">
          <img src="{% static './assets/img/icons/lineal/list.svg' %}" class="svg-inject icon-svg icon-svg-md mb-4" alt="" />
          <h2 class="display-4 mb-4 px-lg-14">Here are 3 working steps to organize our business projects.</h2>
        </div>
        <!-- /column -->
      </div>
      <!-- /.row -->
      <div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="card me-lg-6">
            <div class="card-body p-6">
              <div class="d-flex flex-row">
                <div>
                  <span class="icon btn btn-circle btn-lg btn-soft-primary pe-none me-4"><span class="number">01</span></span>
                </div>
                <div>
                  <h4 class="mb-1">Collect Ideas</h4>
                  <p class="mb-0">Nulla vitae elit libero pharetra augue dapibus.</p>
                </div>
              </div>
            </div>
            <!--/.card-body -->
          </div>
          <!--/.card -->
          <div class="card ms-lg-13 mt-6">
            <div class="card-body p-6">
              <div class="d-flex flex-row">
                <div>
                  <span class="icon btn btn-circle btn-lg btn-soft-primary pe-none me-4"><span class="number">02</span></span>
                </div>
                <div>
                  <h4 class="mb-1">Data Analysis</h4>
                  <p class="mb-0">Vivamus sagittis lacus vel augue laoreet.</p>
                </div>
              </div>
            </div>
            <!--/.card-body -->
          </div>
          <!--/.card -->
          <div class="card mx-lg-6 mt-6">
            <div class="card-body p-6">
              <div class="d-flex flex-row">
                <div>
                  <span class="icon btn btn-circle btn-lg btn-soft-primary pe-none me-4"><span class="number">03</span></span>
                </div>
                <div>
                  <h4 class="mb-1">Finalize Product</h4>
                  <p class="mb-0">Cras mattis consectetur purus sit amet.</p>
                </div>
              </div>
            </div>
            <!--/.card-body -->
          </div>
          <!--/.card -->
        </div>
        <!--/column -->
        <div class="col-lg-6">
          <h2 class="display-6 mb-3">How It Works?</h2>
          <p class="lead fs-lg pe-lg-5">Find out everything you need to know and more about how we create our business process models.</p>
          <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare.</p>
          <p class="mb-6">Nullam id dolor id nibh ultricies vehicula ut id elit. Vestibulum id ligula porta felis euismod semper. Aenean lacinia bibendum nulla sed consectetur. Sed posuere consectetur est at lobortis. Vestibulum id ligula porta felis.</p>
          <a href="#" class="btn btn-primary rounded-pill mb-0">Learn More</a>
        </div>
        <!--/column -->
      </div>
      <!--/.row -->
    </div>
    <!-- /.container -->
</section>

<section class="wrapper bg-light wrapper-border">
    <div class="container p-14 p-md-16">
      <div class="row">
        <div class="col-12">
          <article class="mt-n21">
            <div class="row mt-8 mt-md-12">
              <div class="col-md-10 offset-md-1 text-justify">
                <h2 class="mb-4">VISION</h2>
                  <p>To be a leading sports company that transforms the lives of young athletes and local communities
                  in the UK and beyond.</p>
                  <p>We envision a world where sports are a powerful tool for building bridges across cultures, promoting
                  health and wellbeing, and inspiring generations. At Skiltek Sport, we are committed to creating this
                  future, one athlete at a time.</p>
              </div>
              <!-- /column -->
            </div>
            <!-- /.row -->
            <div class="row mt-8 mt-md-12">
              <div class="col-md-10 offset-md-1 text-justify">
                <h2 class="mb-4">MISSION</h2>
                  <p>Skiltek Sport is committed to helping young athletes and individuals of all ages and abilities reach
                      their full potential through high-quality and tailored sports programs.
                  </p>
                  <p>
                      Our mission is to foster an active lifestyle, a commitment to excellence,
                      and a passion for lifelong learning, while creating a culture of inclusion, respect, and empowerment.
                      We believe that sports have the power to transform lives and make a positive impact on society.
                  </p>
              </div>
              <!-- /column -->
            </div>
            <!-- /.row -->
             <div class="row mt-8 mt-md-12">
              <div class="col-md-10 offset-md-1 text-justify">
                <h2 class="mb-4">JOIN THE SK/LTEK SPORT TEAM!</h2>
                  <p>
                  We offer a dynamic and supportive work environment, competitive compensation and benefits, and
                  opportunities for professional growth and development. İf youlre ready to take your career to the next level
                  apply for one of our open positions today.
                  </p>
              </div>
              <!-- /column -->
            </div>
            <!-- /.row -->
          </article>
          <!-- /.project -->
        </div>
        <!-- /column -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>

  <section class="wrapper bg-light">
    <div class="container py-14 py-md-17">
      <!-- /.row -->
      <div class="grid grid-view projects-masonry">
        <div class="row gx-md-8 gy-10 gy-md-13 isotope" style="position: relative; height: 910.078px;">
          <div class="project item col-md-6 col-xl-4 product" style="position: absolute; left: 0%; top: 0px;">
            <figure class="lift rounded mb-6"><a href="./single-project.html"> <img src="{% static './assets/img/skiltek/home_page_Folder/Links/eduardo-balderas.jpg' %}" alt=""></a></figure>
            <div class="project-details d-flex justify-content-center flex-column">
              <div class="post-header">
                <div class="post-category mb-2 text-yellow">Schools</div>
                <h2 class="post-title h3">Cras Fermentum Sem</h2>
              </div>
              <!-- /.post-header -->
            </div>
            <!-- /.project-details -->
          </div>
          <!-- /.project -->
          <div class="project item col-md-6 col-xl-4 workshop" style="position: absolute; left: 33.3333%; top: 0px;">
            <figure class="lift rounded mb-6"><a href="./single-project2.html"> <img src="{% static './assets/img/skiltek/home_page_Folder/Links/eduardo-balderas.jpg' %}" alt=""></a></figure>
            <div class="project-details d-flex justify-content-center flex-column">
              <div class="post-header">
                <div class="post-category mb-2 text-red">Stationary</div>
                <h2 class="post-title h3">Mollis Ipsum Mattis</h2>
              </div>
              <!-- /.post-header -->
            </div>
            <!-- /.project-details -->
          </div>
          <!-- /.project -->
          <div class="project item col-md-6 col-xl-4 still-life" style="position: absolute; left: 66.6667%; top: 0px;">
            <figure class="lift rounded mb-6"><a href="./single-project3.html"> <img src="{% static './assets/img/skiltek/home_page_Folder/Links/sport-disebility.jpg' %}" alt=""></a></figure>
            <div class="project-details d-flex justify-content-center flex-column">
              <div class="post-header">
                <div class="post-category mb-2 text-orange">Dısability</div>
                <h2 class="post-title h3">Ipsum Ultricies Cursus</h2>
              </div>
              <!-- /.post-header -->
            </div>
            <!-- /.project-details -->
          </div>
          <!-- /.project -->
          <div class="project item col-md-6 col-xl-4 product" style="position: absolute; left: 0%; top: 454.859px; transition-property: opacity, transform; transition-duration: 0.7s; transition-delay: 0ms; transform: translate3d(0px, 0px, 0px);">
            <figure class="lift rounded mb-6"><a href="./single-project2.html"> <img src="{% static './assets/img/skiltek/home_page_Folder/Links/sport-girls.jpg' %}" alt=""></a></figure>
            <div class="project-details d-flex justify-content-center flex-column">
              <div class="post-header">
                <div class="post-category mb-2 text-purple">Girls</div>
                <h2 class="post-title h3">Inceptos Euismod Egestas</h2>
              </div>
              <!-- /.post-header -->
            </div>
            <!-- /.project-details -->
          </div>
          <!-- /.project -->
          <div class="project item col-md-6 col-xl-4 product" style="position: absolute; left: 33.3333%; top: 454.859px;">
            <figure class="lift rounded mb-6"><a href="./single-project.html"> <img src="{% static './assets/img/skiltek/home_page_Folder/Links/hasting_u_partnership.jpg' %}" alt=""></a></figure>
            <div class="project-details d-flex justify-content-center flex-column">
              <div class="post-header">
                <div class="post-category mb-2 text-leaf">Hastinh U. Partnership</div>
                <h2 class="post-title h3">Sollicitudin Ornare Porta</h2>
              </div>
              <!-- /.post-header -->
            </div>
            <!-- /.project-details -->
          </div>
          <!-- /.project -->
          <div class="project item col-md-6 col-xl-4 workshop" style="position: absolute; left: 66.6667%; top: 454.859px;">
            <figure class="lift rounded mb-6"><a href="./single-project3.html"> <img src="{% static './assets/img/skiltek/home_page_Folder/Links/hasting_u_partnership.jpg' %}" alt=""></a></figure>
            <div class="project-details d-flex justify-content-center flex-column">
              <div class="post-header">
                <div class="post-category mb-2 text-aqua">Sport Tour</div>
                <h2 class="post-title h3">Ipsum Mollis Vulputate</h2>
              </div>
              <!-- /.post-header -->
            </div>
            <!-- /.project-details -->
          </div>
          <!-- /.project -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.grid -->
    </div>
    <!-- /.container -->
  </section>

  
{% endblock body  %}

